/**
 * Базовые стили для всего сайта
 */
body {
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #000;
	min-width: 320px;
	overflow-x: hidden;
	height: auto;
}

.navbar {
	width: 100%;
	height: 70px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
}



.navbar .container {
	height: inherit;
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
}

.navbar .container img {
	display: flex;
	width: 100px;
}


.navbar-menu {
	list-style-type: none;
	padding-left: 170px;
	margin-bottom: 0;
}

.navbar-menu li {
	display: inline-block;
}

.navbar-menu li a {
	display: inline-block;
	color: #000;
	opacity: 0.6;
	text-decoration: none;
	padding: 10px;
	transition: all .07s ease-in-out;
}

.navbar-menu li a:hover {
    opacity: 1;
}

.navbar-wrap {
	display: flex;
	flex-flow: row nowrap;
}

.navbar-brand {
	font-weight: bold;
	font-size: 27px;
	text-decoration: none;
	color: #000;
	
}

.navbar-brand:hover {
	color: rgb(0, 4, 255);
	transition: all .07s ease-in-out;
}



/* заполнение сайта */

.infa {
	text-align: center;
	padding-top: 35px;
}
.infa p {
	
    padding-top: 35px;
	padding-left: 200px;
    padding-right: 200px; 
	font-weight: 700px; 
    font-size: 20px;
	font-weight: bold;
}

.infa a {
	padding-top: 35px;
	padding-left: 200px;
    padding-right: 200px; 
	font-weight: 700px; 
    font-size: 20px;
	font-weight: bold;
}